{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if user.is_authenticated %}
  <p>Hello {{ user.username }}, thanks for logging in</p>
{% else %}
  <p>Please log in</p>
{% endif %}

{% endblock %}
