{% extends "base.html" %}
  {% block content %}
    {% for post in posts %}
      <h2>{{ post.title }} </h2>
      <p> {{ post.body }} </p>
      <p> {{ post.timestamp|date:"l, F jS" }} </p>
    {% endfor %}
  {% endblock %}
