<html>
  <style type="text/css">
    body { color : #efd;
           background : #453;
           padding : 0 5em;
           margin : 0 }
    h1 { padding : 2em 1em;
           background : #675 }
    h2 { color : #bf8;
           border-top : 1px dotted #fff;
           margin-top : 2em  }
    p { margin : 1em 0 }
  </style>
  <body>
    <h1>myblog.example.com</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
